<div [ngStyle]="{background: '(#001f36;)'}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img
          src="https://www.bing.com/th/id/OGC.5e78affab2547d678e4c5458dd931381?pid=1.7&rurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f27231%2fscreenshots%2f2432051%2fwelcome.gif&ehk=F3rxBE9ife3EOU14rTWOPJg6yzVIbVZB0VGWLQ0GVmo%3d"
          alt=""
          style="max-width: max-content; max-height: max-content;"
        />
      </div>
    </div>
  </div>
</div>
